h1{
    color: brown;
}

body{
    background-color: antiquewhite;
}

img{
    width: 100%;
    height: 100%
}

.container{

}

@media screen and (min-width: 401px) {
    
}

@media screen and (max-width: 400px) {
    
}